body{
	background: #A89EA6;
}
.header{
	background: #738EA8;
	height: 50px;
	padding: 5px;
	text-align: left;
	width: 800px;
	/*border-radius: 6px;*/
}
.sydebar{
	width: 150px;
	padding: 5px;
	background: #FFF;
	height: 600px;
	/*border-radius: 6px;*/
}
.img{
	padding: 5px;
	width: 650px;
	background: #FFF;
	height: 200px;
	/*border-radius: 6px;*/
}
.txt{
	width: 650px;
	height: 400px;
	background: #FFF;
	/*border-radius: 6px;*/
}
.tab{
	border-spacing: 0px;
}
.home{
	background: #FFF;
	width: 800px;
	/*margin: 5px;*/
	padding: 2px;
	/*border-radius: 6px;*/
}
.link{
	padding: 4px;
}